<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/wpft</property>
        <property name="hibernate.connection.username">wpft</property>
        <property name="hibernate.connection.password">wpft</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create all database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated entity classes -->
        <mapping class="org.isu.sweethome3d.plugin.wpft.WallPaper"/>
        <mapping class="org.isu.sweethome3d.plugin.wpft.Files"/>
        <mapping class="org.isu.sweethome3d.plugin.wpft.Article"/>
        <mapping class="org.isu.sweethome3d.plugin.wpft.Producer"/>
        <mapping class="org.isu.sweethome3d.plugin.wpft.Collection"/>

    </session-factory>
</hibernate-configuration>